.header {
	height: 86px;
	margin-left: 124px;
	margin-right: 124px;
	border-bottom: 1px solid #000;
}

.typography_logo {
	font-family: Zilla Slab;
	font-size: 32px;
	font-style: normal;
	font-weight: 600;
  line-height: normal;
	color: #ffffff
}

.logo_background {
	display: inline-flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 8px;
	background: #000;
}

.main_content{
	margin-left: 228px;
	margin-right: 228px;
	font-family: Avenir;
}
